<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% if error is defined and error %}
    <div class="error">{{ error }}</div>
{% endif %}
{% if baseImages is defined and faceImage is defined %}{% set baseImagesLength = baseImages|length %}
<style>
.base-images .image-crop {
    width: {{ 440/cols }}px;
    height: {{ 440/cols }}px;
}
.base-images img {
    width: {{ 440/cols }}px;
}
.result-images .image-crop {
    width: {{ min(700, 900/cols) }}px;
    height: {{ 900/cols }}px;
}
.result-images img {
    width: {{ min(700, 900/cols) }}px;
}
</style>

<!-- import and configure firebase -->
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-firestore.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDVTfifLqK5PUUOhjK8H2HARuVnO0MNT_U",
    authDomain: "cloud-next-php.firebaseapp.com",
    databaseURL: "https://cloud-next-php.firebaseio.com",
    projectId: "cloud-next-php",
    storageBucket: "cloud-next-php.appspot.com",
    messagingSenderId: "746522047361"
  };
  firebase.initializeApp(config);
  db = firebase.firestore();
  db.collection("faceswap").doc('{{ documentId }}')
    .onSnapshot(function(doc) {
        for (var i in doc.data()) {
            if (!document.getElementById('faceswap-image-' + i)) {
                img = new Image();
                img.src = 'data:image/jpeg;base64,' + doc.data()[i].e;
                img.id = "faceswap-image-" + i;
                div = document.getElementById('faceswap-' + i);
                div.innerHTML = '';
                img.onload = function() {
                  div.appendChild(img);
                };
            }
        }
    });
</script>

<div class="uploaded-images">
    <div class="face-image">
        <img src="data:image/jpeg;base64, {{ faceImage }}" />
    </div>
    <div class="base-images">
    <div class="row">
    {% for baseImage in baseImages %}
        <div class="base-image">
            <div class="image-crop">
                <img src="data:image/jpeg;base64, {{ baseImage }}" />
            </div>
        </div>
        {% if 0 == loop.index % cols and not loop.last %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
    </div>
    </div>
</div>
<div class="result-images">
    <div class="row">
    {% for baseImage in baseImages %}
        <div class="image-crop" id="faceswap-img{{loop.index - 1}}">
            <svg class="spinner" width="25px" height="25px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
        {% if 0 == loop.index % cols and not loop.last %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<form class="faceswap-upload-form" action="" method="POST" enctype="multipart/form-data">
    <fieldset>
        <legend>Image Uploads</legend>
        {{ form_widget(form) }}
    </fieldset>
    <input type="submit" value="Upload" />
</form>
