<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% if error is defined and error %}
    <div class="error">{{ error }}</div>
{% endif %}
{% if baseImages is defined and faceImage is defined %}{% set baseImagesLength = baseImages|length %}
<div class="uploaded-images">
    <div class="face-image">
        <img src="data:image/jpeg;base64, {{ faceImage }}" />
    </div>
    <div class="base-images">
    <div class="row">
    {% for baseImage in baseImages %}
        <div class="base-image">
            <div class="image-crop">
                <img src="data:image/jpeg;base64, {{ baseImage }}" />
            </div>
            <script type="text/javascript">
            var request = $.ajax({
                url: '{{ serviceUrl }}',
                method: "POST",
                data: JSON.stringify({
                    image1: $('.base-image img:eq({{loop.index-1}})').attr('src').split(',')[1],
                    image2: $('.face-image img').attr('src').split(',')[1]
                }),
                headers: {'content-type': 'application/json'}
            });
            request.done(function(result) {
                $('.result-images .result-image-{{loop.index}}').html(
                    '<img src="data:image/jpeg;base64, ' + result + '" />'
                );
            });
            request.fail(function(jqXHR, textStatus) {
                console.log('it didnt work :(');
                $('.error').append(textStatus);
            });
            </script>
        </div>
        {% if 0 == loop.index % cols and not loop.last %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
    </div>
    </div>
</div>
<div class="result-images">
    <div class="row">
    {% for baseImage in baseImages %}
        <div class="image-crop result-image-{{loop.index}}">
            <svg class="spinner" width="25px" height="25px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
        {% if 0 == loop.index % cols and not loop.last %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<form class="faceswap-upload-form" action="" method="POST" enctype="multipart/form-data">
    <fieldset>
        <legend>Image Uploads</legend>
        {{ form_widget(form) }}
    </fieldset>
    <input type="submit" value="Upload" />
</form>
{% if baseImagesLength is defined and baseImagesLength != 0 %}
<style>
.base-images .image-crop {
    width: {{ 440/cols }}px;
    height: {{ 440/cols }}px;
}
.base-images img {
    width: {{ 440/cols }}px;
}
.result-images .image-crop {
    width: {{ 900/cols }}px;
    height: {{ 900/cols }}px;
}
.result-images img {
    width: {{ 900/cols }}px;
}
</style>
{% endif %}